{% extends "base.html" %}

{%  load static %}



  {% block content %}

  <!-- Page Header -->

  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Let´s share our shots</h1>
            <span class="subheading">A single way to connect your len with the world</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in object_list %}
        <div class="post-preview">
          <a href="{% url 'post_detail' post.slug  %}" >
            <h2 class="post-title">
              {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
              {{post.content|slice:":200" }}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{ post.author }}</a>
            on {{ post.created_on}}</p>
        </div>
        {% empty %}
            <li>No articles yet.</li>
        {% endfor %}
        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  {%endblock%}
