{% extends "base.html" %}

{%  load static %}



 <!-- Page Header -->
  {% block header %}
    <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Let´s share our shots</h1>
            <span class="subheading">A single way to connect your len with the world</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% endblock %}

 <!-- Main Content -->
  {% block content %}

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in object_list %}
        <div class="post-preview">
          <a href="{% url 'post_detail' post.slug  %}" >
            <h2 class="post-title">
              {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
              {{post.content|slice:":200"|safe }}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{ post.author }}</a>
            on {{ post.created_on}}</p>
        </div>
        {% empty %}
            <li>No articles yet.</li>
        {% endfor %}
        <hr>
        <!-- Pager -->

        {% if is_paginated %}
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}



      </div>
    </div>
  </div>


  {%endblock%}
