{% extends "base.html" %}

{%  load static %}


  {% block content %}

  <div class="container my_posts_list">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in posts_list %}
        <div class="post-preview">
          <a href="{% url 'post_detail' post.slug  %}" >
            <h2 class="post-title">
              {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
              {{post.content|slice:":200" }}
            </h3>
          </a>
          <p class="post-meta">Posted
            on {{ post.created_on}}</p>
          <p class="">Status:
              {% ifequal post.status 1 %}
                Publish
              {% else %}
                Draft
              {% endifequal %}


          </p>
        </div>
        {% empty %}
            <li>No articles yet.</li>
        {% endfor %}
        <hr>
      </div>
    </div>
  </div>


  {%endblock%}
