{% extends "base.html" %}

{% load comments %}


<!-- Page Header -->
{% block header %}
<style>
#post-masthead
{
background-image:url('{{ post.image.url }}');
background-repeat:no-repeat;
background-size:100%;
}
</style>

<header id="post-masthead" class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
          <span class="meta">{{ post.author }}
            <a href="{% url 'home' %}">My Best Shot</a>
            on {{ post.created_on }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>{{ object.content | safe }}</p>
      </div>
    </div>
  </div>
</article>


<div id="comments">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="comments-column" class="col-md-8">
                <div id="comments-box" class="col-md-12">
                    {% get_comment_count for object as comment_count %}
                    {% if comment_count %}
                        <span>The post <b>{{ object.title }}</b>  has {{ comment_count }} comments.</span> <br>                        {% render_comment_list for object %}
                    {% endif %}

                    {% if user.is_authenticated %}
                      <p>Leave a comment as: {{ user.username }}</p>
                      {% get_comment_form for object as form %}
                      <form action="{% comment_form_target %}" method="post">
                        {% csrf_token %}
                          <input type="hidden" name="next" value="{% url 'post_detail' post.slug  %}">
                        {% for field in form %}
                        {% ifequal field.name "name" %}
                            <input id="id_name" type="hidden" name="name" value="{{ user.username }}">
                        {% else %}{% ifequal field.name "email" %}
                            <input type="hidden" name="email" value="{{ user.email }}" id="id_email">
                          {% else %}
                          {% ifequal field.name "url" %}
                        {% else %}
                          {% ifequal field.name "honeypot" %}
                        {% else %}{{ field }}{% endifequal %}{% endifequal %}{% endifequal %}{% endifequal %}


                        {% endfor %}
                          <div class="col-md-12">
                              <input style="background-color:#0085A1; color:white" class="btn btn-outline-info btn-info btn-md" type="submit" name="post" value="Post">
                          </div>
                      </form>


                    {% else %}
                      <p>Please <a href="{% url 'login' %}">log in</a> to leave a comment.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}